<div class = "row mx-n2 mb-5">
  <div class = "col-sm-6 col-lg-4 px-2 px-sm-3 mb-3 mb-sm-5">
    <app-product-item></app-product-item>
  </div>
  <div class = "col-sm-6 col-lg-4 px-2 px-sm-3 mb-3 mb-sm-5">
    <app-product-item></app-product-item>
  </div>
  <div class = "col-sm-6 col-lg-4 px-2 px-sm-3 mb-3 mb-sm-5">
    <app-product-item></app-product-item>
  </div>
  <div class = "col-sm-6 col-lg-4 px-2 px-sm-3 mb-3 mb-sm-5">
    <app-product-item></app-product-item>
  </div>
  <div class = "col-sm-6 col-lg-4 px-2 px-sm-3 mb-3 mb-sm-5">
    <app-product-item></app-product-item>
  </div>
  <div class = "col-sm-6 col-lg-4 px-2 px-sm-3 mb-3 mb-sm-5">
    <app-product-item></app-product-item>
  </div>
  <div class = "col-sm-6 col-lg-4 px-2 px-sm-3 mb-3 mb-sm-5">
    <app-product-item></app-product-item>
  </div>
  <div class = "col-sm-6 col-lg-4 px-2 px-sm-3 mb-3 mb-sm-5">
    <app-product-item></app-product-item>
  </div>

</div>
