<main id = "content"
      role = "main">
  <!-- Checkout Section -->
  <div class = "container space-1 space-md-2">
    <div class = "row">
      <div class = "col-lg-4 order-lg-2 mb-7 mb-lg-0">
        <div class = "pl-lg-4">
          <!-- Order Summary -->
          <app-order-summary></app-order-summary>
          <!-- End Order Summary -->

          <!-- Accordion -->
          <app-accordion></app-accordion>
          <!-- End Accordion -->

          <!-- Help Link -->
          <div class = "media align-items-center">
            <figure class = "w-100 max-w-6rem mr-2">
              <img class = "img-fluid"
                   src = "../assets/assets/svg/icons/icon-4.svg"
                   alt = "SVG">
            </figure>
            <div class = "media-body text-body small">
              <span class = "font-weight-bold mr-1">Cần giúp đỡ?</span>
              <a class = "link-underline"
                 href = "#">Nhắn tin ngay
              </a>
            </div>
          </div>
          <!-- End Help Link -->
        </div>
      </div>

      <div class = "col-lg-8 order-lg-1">
        <app-form-checkout></app-form-checkout>
      </div>
    </div>
  </div>
  <!-- End Checkout Section -->
</main>
