<div class = "bg-light">
  <div class = "container space-2">
    <div class = "row justify-content-center">
      <div class = "col-md-9 col-lg-6">
        <!-- Title -->
        <div class = "text-center mb-4">
          <h2 class = "h1">Stay in the know</h2>
          <p>Get special offers on the latest developments from Front.</p>
        </div>
        <!-- End Title -->

        <!-- Subscribe Form -->
        <form class = "js-validate js-form-message w-lg-85 mx-lg-auto">
          <label class = "sr-only"
                 for = "subscribeSrEmail">Email address
          </label>
          <div class = "input-group input-group-pill">
            <input type = "email"
                   class = "form-control"
                   name = "email"
                   id = "subscribeSrEmail"
                   placeholder = "Email address"
                   aria-label = "Email address"
                   aria-describedby = "subscribeButton"
                   required
                   data-msg = "Please enter a valid email address.">
            <div class = "input-group-append">
              <button type = "submit"
                      class = "btn btn-primary px-6"
                      id = "subscribeButton">Join
              </button>
            </div>
          </div>
        </form>
        <!-- End Subscribe Form -->
      </div>
    </div>
  </div>
</div>
