<!-- ========== MAIN CONTENT ========== -->
<main id = "content"
      role = "main">
  <!-- Hero Section -->
  <app-hero-section></app-hero-section>
  <!-- End Hero Section -->

  <!-- Product Description Section -->
  <app-product-description></app-product-description>
  <!-- End Product Description Section -->

  <!-- Product Review Section -->
  <app-product-review></app-product-review>
  <!-- End Product Review Section -->

  <!-- Related Products Section -->
  <app-product-related></app-product-related>
  <!-- End Related Products Section -->

  <!-- Review Section -->

  <!-- End Review Section -->

  <!-- Subscribe Section -->

  <!-- End Subscribe Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
