<div class = "container space-2 space-lg-3">
  <!-- Title -->
  <div class = "w-md-80 w-lg-40 text-center mx-md-auto mb-5 mb-md-9">
    <h2>Có thể bạn cũng thích</h2>
  </div>
  <!-- End Title -->

  <div class = "js-slick-carousel slick slick-gutters-3 slick-equal-height"
       data-hs-slick-carousel-options = '{
             "slidesToShow": 4,
             "slidesToScroll": 3,
             "infinite": true,
             "responsive": [{
               "breakpoint": 1200,
               "settings": {
                 "slidesToShow": 4
               }
             }, {
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 3
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 2
               }
             }, {
               "breakpoint": 480,
               "settings": {
                 "slidesToShow": 1
               }
             }]
           }'>
    <div class = "js-slide">
      <!-- Product -->
      <div class = "card border shadow-none text-center w-100">
        <div class = "position-relative">
          <img class = "card-img-top"
               src = "../assets/assets/img/300x180/img3.jpg"
               alt = "Image Description">

          <div class = "position-absolute top-0 left-0 pt-3 pl-3">
            <span class = "badge badge-success badge-pill">New arrival</span>
          </div>
          <div class = "position-absolute top-0 right-0 pt-3 pr-3">
            <button type = "button"
                    class = "btn btn-xs btn-icon btn-outline-secondary rounded-circle"
                    data-toggle = "tooltip"
                    data-placement = "top"
                    title = "Save for later">
              <i class = "fas fa-heart"></i>
            </button>
          </div>
        </div>

        <div class = "card-body pt-4 px-4 pb-0">
          <div class = "mb-2">
            <a class = "d-inline-block text-body small font-weight-bold mb-1"
               href = "#">Accessories
            </a>
            <span class = "d-block font-size-1">
                  <a class = "text-body"
                     href = "single-product.html">Herschel backpack in dark blue</a>
                </span>
            <div class = "d-block font-size-1">
              <span class = "text-dark font-weight-bold">$56.99</span>
            </div>
          </div>
        </div>

        <div class = "card-footer border-0 pt-0 pb-4 px-4">
          <div class = "mb-3">
            <a class = "d-inline-flex align-items-center small"
               href = "#">
              <div class = "text-warning mr-2">
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
              </div>
              <span>0</span>
            </a>
          </div>
          <button type = "button"
                  class = "btn btn-sm btn-outline-primary btn-pill transition-3d-hover">Add to
            Cart
          </button>
        </div>
      </div>
      <!-- End Product -->
    </div>

    <div class = "js-slide">
      <!-- Product -->
      <div class = "card border shadow-none text-center w-100">
        <div class = "position-relative">
          <img class = "card-img-top"
               src = "../assets/assets/img/300x180/img1.jpg"
               alt = "Image Description">

          <div class = "position-absolute top-0 right-0 pt-3 pr-3">
            <button type = "button"
                    class = "btn btn-xs btn-icon btn-outline-secondary rounded-circle"
                    data-toggle = "tooltip"
                    data-placement = "top"
                    title = "Save for later">
              <i class = "fas fa-heart"></i>
            </button>
          </div>
        </div>

        <div class = "card-body pt-4 px-4 pb-0">
          <div class = "mb-2">
            <a class = "d-inline-block text-body small font-weight-bold mb-1"
               href = "#">Clothing
            </a>
            <span class = "d-block font-size-1">
                  <a class = "text-body"
                     href = "single-product.html">Front hoodie</a>
                </span>
            <div class = "d-block">
              <span class = "text-dark font-weight-bold">$91.88</span>
            </div>
          </div>
        </div>

        <div class = "card-footer border-0 pt-0 pb-4 px-4">
          <div class = "mb-3">
            <a class = "d-inline-flex align-items-center small"
               href = "#">
              <div class = "text-warning mr-2">
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "far fa-star text-muted"></i>
              </div>
              <span>40</span>
            </a>
          </div>
          <button type = "button"
                  class = "btn btn-sm btn-outline-primary btn-pill transition-3d-hover">Add to
            Cart
          </button>
        </div>
      </div>
      <!-- End Product -->
    </div>

    <div class = "js-slide">
      <!-- Product -->
      <div class = "card border shadow-none text-center w-100">
        <div class = "position-relative">
          <img class = "card-img-top"
               src = "../assets/assets/img/300x180/img4.jpg"
               alt = "Image Description">

          <div class = "position-absolute top-0 left-0 pt-3 pl-3">
            <span class = "badge badge-danger badge-pill">Sold out</span>
          </div>
          <div class = "position-absolute top-0 right-0 pt-3 pr-3">
            <button type = "button"
                    class = "btn btn-xs btn-icon btn-outline-secondary rounded-circle"
                    data-toggle = "tooltip"
                    data-placement = "top"
                    title = "Save for later">
              <i class = "fas fa-heart"></i>
            </button>
          </div>
        </div>

        <div class = "card-body pt-4 px-4 pb-0">
          <div class = "mb-2">
            <a class = "d-inline-block text-body small font-weight-bold mb-1"
               href = "#">Accessories
            </a>
            <span class = "d-block font-size-1">
                  <a class = "text-body"
                     href = "single-product.html">Herschel backpack in gray</a>
                </span>
            <div class = "d-block font-size-1">
              <span class = "text-dark font-weight-bold">$29.99</span>
              <span class = "text-body ml-1"><del>$33.99</del></span>
            </div>
          </div>
        </div>

        <div class = "card-footer border-0 pt-0 pb-4 px-4">
          <div class = "mb-3">
            <a class = "d-inline-flex align-items-center small"
               href = "#">
              <div class = "text-warning mr-2">
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
              </div>
              <span>125</span>
            </a>
          </div>
          <button type = "button"
                  class = "btn btn-sm btn-outline-primary btn-pill transition-3d-hover">Add to
            Cart
          </button>
        </div>
      </div>
      <!-- End Product -->
    </div>

    <div class = "js-slide">
      <!-- Product -->
      <div class = "card border shadow-none text-center w-100">
        <div class = "position-relative">
          <img class = "card-img-top"
               src = "../assets/assets/img/300x180/img6.jpg"
               alt = "Image Description">

          <div class = "position-absolute top-0 right-0 pt-3 pr-3">
            <button type = "button"
                    class = "btn btn-xs btn-icon btn-outline-secondary rounded-circle"
                    data-toggle = "tooltip"
                    data-placement = "top"
                    title = "Save for later">
              <i class = "fas fa-heart"></i>
            </button>
          </div>
        </div>

        <div class = "card-body pt-4 px-4 pb-0">
          <div class = "mb-2">
            <a class = "d-inline-block text-body small font-weight-bold mb-1"
               href = "#">Clothing
            </a>
            <span class = "d-block font-size-1">
                  <a class = "text-body"
                     href = "single-product.html">Front Originals adicolor t-shirt with trefoil logo</a>
                </span>
            <div class = "d-block">
              <span class = "text-dark font-weight-bold">$38.00</span>
            </div>
          </div>
        </div>

        <div class = "card-footer border-0 pt-0 pb-4 px-4">
          <div class = "mb-3">
            <a class = "d-inline-flex align-items-center small"
               href = "#">
              <div class = "text-warning mr-2">
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
              </div>
              <span>9</span>
            </a>
          </div>
          <button type = "button"
                  class = "btn btn-sm btn-outline-primary btn-pill transition-3d-hover">Add to
            Cart
          </button>
        </div>
      </div>
      <!-- End Product -->
    </div>

    <div class = "js-slide">
      <!-- Product -->
      <div class = "card border shadow-none text-center w-100">
        <div class = "position-relative">
          <img class = "card-img-top"
               src = "../assets/assets/img/300x180/img7.jpg"
               alt = "Image Description">

          <div class = "position-absolute top-0 right-0 pt-3 pr-3">
            <button type = "button"
                    class = "btn btn-xs btn-icon btn-outline-secondary rounded-circle"
                    data-toggle = "tooltip"
                    data-placement = "top"
                    title = "Save for later">
              <i class = "fas fa-heart"></i>
            </button>
          </div>
        </div>

        <div class = "card-body pt-4 px-4 pb-0">
          <div class = "mb-2">
            <a class = "d-inline-block text-body small font-weight-bold mb-1"
               href = "#">Accessories
            </a>
            <span class = "d-block font-size-1">
                  <a class = "text-body"
                     href = "single-product.html">Front mesh baseball cap with signature logo</a>
                </span>
            <div class = "d-block">
              <span class = "text-dark font-weight-bold">$8.88</span>
            </div>
          </div>
        </div>

        <div class = "card-footer border-0 pt-0 pb-4 px-4">
          <div class = "mb-3">
            <a class = "d-inline-flex align-items-center small"
               href = "#">
              <div class = "text-warning mr-2">
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "far fa-star text-muted"></i>
              </div>
              <span>31</span>
            </a>
          </div>
          <button type = "button"
                  class = "btn btn-sm btn-outline-primary btn-pill transition-3d-hover">Add to
            Cart
          </button>
        </div>
      </div>
      <!-- End Product -->
    </div>

    <div class = "js-slide">
      <!-- Product -->
      <div class = "card border shadow-none text-center w-100">
        <div class = "position-relative">
          <img class = "card-img-top"
               src = "../assets/assets/img/300x180/img2.jpg"
               alt = "Image Description">

          <div class = "position-absolute top-0 left-0 pt-3 pl-3">
            <span class = "badge badge-success badge-pill">New arrival</span>
          </div>
          <div class = "position-absolute top-0 right-0 pt-3 pr-3">
            <button type = "button"
                    class = "btn btn-xs btn-icon btn-outline-secondary rounded-circle"
                    data-toggle = "tooltip"
                    data-placement = "top"
                    title = "Save for later">
              <i class = "fas fa-heart"></i>
            </button>
          </div>
        </div>

        <div class = "card-body pt-4 px-4 pb-0">
          <div class = "mb-2">
            <a class = "d-inline-block text-body small font-weight-bold mb-1"
               href = "#">Clothing
            </a>
            <span class = "d-block font-size-1">
                  <a class = "text-body"
                     href = "single-product.html">Front Originals adicolor t-shirt in gray</a>
                </span>
            <div class = "d-block">
              <span class = "text-dark font-weight-bold">$24.00</span>
            </div>
          </div>
        </div>

        <div class = "card-footer border-0 pt-0 pb-4 px-4">
          <div class = "mb-3">
            <a class = "d-inline-flex align-items-center small"
               href = "#">
              <div class = "text-warning mr-2">
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
              </div>
              <span>0</span>
            </a>
          </div>
          <button type = "button"
                  class = "btn btn-sm btn-outline-primary btn-pill transition-3d-hover">Add to
            Cart
          </button>
        </div>
      </div>
      <!-- End Product -->
    </div>

    <div class = "js-slide">
      <!-- Product -->
      <div class = "card border shadow-none text-center w-100">
        <div class = "position-relative">
          <img class = "card-img-top"
               src = "../assets/assets/img/300x180/img5.jpg"
               alt = "Image Description">

          <div class = "position-absolute top-0 right-0 pt-3 pr-3">
            <button type = "button"
                    class = "btn btn-xs btn-icon btn-outline-secondary rounded-circle"
                    data-toggle = "tooltip"
                    data-placement = "top"
                    title = "Save for later">
              <i class = "fas fa-heart"></i>
            </button>
          </div>
        </div>

        <div class = "card-body pt-4 px-4 pb-0">
          <div class = "mb-2">
            <a class = "d-inline-block text-body small font-weight-bold mb-1"
               href = "#">Clothing
            </a>
            <span class = "d-block font-size-1">
                  <a class = "text-body"
                     href = "single-product.html">COLLUSION Unisex mechanic print t-shirt</a>
                </span>
            <div class = "d-block">
              <span class = "text-dark font-weight-bold">$43.99</span>
            </div>
          </div>
        </div>

        <div class = "card-footer border-0 pt-0 pb-4 px-4">
          <div class = "mb-3">
            <a class = "d-inline-flex align-items-center small"
               href = "#">
              <div class = "text-warning mr-2">
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
                <i class = "far fa-star text-muted"></i>
              </div>
              <span>0</span>
            </a>
          </div>
          <button type = "button"
                  class = "btn btn-sm btn-outline-primary btn-pill transition-3d-hover">Add to
            Cart
          </button>
        </div>
      </div>
      <!-- End Product -->
    </div>

    <div class = "js-slide">
      <!-- Product -->
      <div class = "card border shadow-none text-center w-100">
        <div class = "position-relative">
          <img class = "card-img-top"
               src = "../assets/assets/img/300x180/img8.jpg"
               alt = "Image Description">

          <div class = "position-absolute top-0 right-0 pt-3 pr-3">
            <button type = "button"
                    class = "btn btn-xs btn-icon btn-outline-secondary rounded-circle"
                    data-toggle = "tooltip"
                    data-placement = "top"
                    title = "Save for later">
              <i class = "fas fa-heart"></i>
            </button>
          </div>
        </div>

        <div class = "card-body pt-4 px-4 pb-0">
          <div class = "mb-2">
            <a class = "d-inline-block text-body small font-weight-bold mb-1"
               href = "#">Accessories
            </a>
            <span class = "d-block font-size-1">
                  <a class = "text-body"
                     href = "single-product.html">Billabong Walled snapback in green</a>
                </span>
            <div class = "d-block">
              <span class = "text-dark font-weight-bold">$12.00</span>
            </div>
          </div>
        </div>

        <div class = "card-footer border-0 pt-0 pb-4 px-4">
          <div class = "mb-3">
            <a class = "d-inline-flex align-items-center small"
               href = "#">
              <div class = "text-warning mr-2">
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
              </div>
              <span>2</span>
            </a>
          </div>
          <button type = "button"
                  class = "btn btn-sm btn-outline-primary btn-pill transition-3d-hover">Add to
            Cart
          </button>
        </div>
      </div>
      <!-- End Product -->
    </div>
  </div>
</div>
