<div class = "container">
  <div class = "row justify-content-lg-between align-items-lg-center">
    <div class = "col-lg-5 space-1 space-lg-2">
      <h3 class = "mb-4">A casual cap with Front originals style</h3>
      <p>This men's hat has low-key Trefoil style with an embroidered logo on the front.</p>
      <p>Made of washed canvas, the hat has a crushable, packable design and an adjustable back strap so you can
        personalize the fit.</p>
    </div>

    <div class = "col-lg-6">
      <div class = "bg-img-hero-center h-100 min-h-450rem rounded"
           style = "background-image: url(../assets/assets/img/750x750/img3.jpg);"></div>
    </div>
  </div>

  <div class = "row justify-content-lg-between align-items-lg-center space-top-1 space-top-lg-3">
    <div class = "col-lg-5 order-lg-2 space-1 space-lg-2">
      <h3 class = "mb-4">A casual cap with Front originals style</h3>
      <p>This men's hat has low-key Trefoil style with an embroidered logo on the front.</p>
      <p>Made of washed canvas, the hat has a crushable, packable design and an adjustable back strap so you can
        personalize the fit.</p>
    </div>

    <div class = "col-lg-6 order-lg-1">
      <div class = "bg-img-hero-center h-100 min-h-450rem rounded"
           style = "background-image: url(../assets/assets/img/750x750/img4.jpg);"></div>
    </div>
  </div>
</div>
