<div class = "container space-top-2 space-lg-3">
  <div class = "row">
    <div class = "col-md-6 mb-5 mb-md-0">
      <div class = "pr-lg-4">
        <h4>Details</h4>
        <p>As popular off field as they are on, New Era caps are standard issue amongst those with a passion for
          street culture, blending progressive styles with carefully crafted design. Known for their innovative use
          of colour, bold designs are added season upon season, referencing everything.</p>
      </div>
    </div>

    <div class = "col-md-6 mb-5 mb-md-0">
      <h4>Material and care</h4>

      <div class = "row">
        <div class = "col-sm-6">
          <ul class = "list-sm-article text-body mb-0">
            <li>Main: 100% Cotton</li>
            <li>Soft twill</li>
            <li>Ribbed, diagonal pattern</li>
            <li>Slightly structured</li>
          </ul>
        </div>

        <div class = "col-sm-6">
          <ul class = "list-sm-article text-body mb-0">
            <li>One size fits all</li>
            <li>Imported</li>
            <li>Product color: Dark greenish</li>
            <li>Product code: #1465791</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
