<form class = "js-validate">
  <div class = "border-bottom pb-7 mb-7">
    <!-- Title -->
    <div class = "mb-4">
      <h2 class = "h3">Thông tin người nhận</h2>
    </div>
    <!-- End Title -->

    <!-- Billing Form -->
    <div class = "row">
      <div class = "col-md-6 mb-3 mb-sm-6">
        <!-- Input -->
        <div class = "js-form-message">
          <label class = "input-label">Họ</label>
          <input type = "text"
                 class = "form-control"
                 name = "firstName"
                 placeholder = "Đinh"
                 aria-label = "Jack"
                 required
                 data-msg = "Please enter your frist name.">
        </div>
        <!-- End Input -->
      </div>

      <div class = "col-md-6 mb-3 mb-sm-6">
        <!-- Input -->
        <div class = "js-form-message">
          <label class = "input-label">Tên</label>
          <input type = "text"
                 class = "form-control"
                 name = "lastName"
                 placeholder = "Đạt"
                 aria-label = "Wayley"
                 required
                 data-msg = "Please enter your last name.">
        </div>
        <!-- End Input -->
      </div>

      <div class = "w-100"></div>

      <div class = "col-md-6 mb-3 mb-sm-6">
        <!-- Input -->
        <div class = "js-form-message">
          <label class = "input-label">Địa chỉ email</label>
          <input type = "email"
                 class = "form-control"
                 name = "emailAddress"
                 placeholder = "jackwayley@gmail.com"
                 aria-label = "jackwayley@gmail.com"
                 required
                 data-msg = "Please enter a valid email address.">
        </div>
        <!-- End Input -->
      </div>

      <div class = "col-md-6 mb-3 mb-sm-6">
        <!-- Input -->
        <div class = "js-form-message">
          <label class = "input-label">Số điện thoại</label>
          <input type = "text"
                 class = "form-control"
                 placeholder = "+1 (062) 109-9222"
                 aria-label = "+1 (062) 109-9222"
                 data-msg = "Please enter your last name.">
        </div>
        <!-- End Input -->
      </div>

      <div class = "w-100"></div>

      <div class = "col-md-12 mb-3 mb-sm-6">
        <!-- Input -->
        <div class = "js-form-message">
          <label class = "input-label">Địa chỉ</label>
          <input type = "text"
                 class = "form-control"
                 name = "streetAddress"
                 placeholder = "26 ngõ 17 Phú Kiều, Phúc Diễn, Bắc Từ Liêm, Hà Nội"
                 aria-label = "470 Lucy Forks"
                 required
                 data-msg = "Please enter a valid address.">
        </div>
        <!-- End Input -->
      </div>


      <div class = "w-100"></div>


      <div class = "w-100"></div>


    </div>
    <!-- End Billing Form -->
  </div>

  <!-- Payment -->
  <div class = "mb-7">
    <!-- Title -->

    <!-- End Title -->

    <!-- Input -->

    <!-- End Input -->


    <!-- Button -->
    <div class = "d-flex justify-content-between align-items-center">
      <a class = "font-weight-bold"
         href = "cart.html">
        <i class = "fas fa-angle-left fa-xs mr-1"></i>
        Trở về giỏ
        hàng
      </a>
      <button type = "submit"
              class = "btn btn-primary btn-pill transition-3d-hover">Đặt hàng
      </button>
    </div>
    <!-- End Button -->
  </div>
  <!-- End Payment -->
</form>
