<div class = "card shadow-soft p-4 mb-4">
  <!-- Title -->
  <div class = "border-bottom pb-4 mb-4">
    <h2 class = "h3 mb-0">Hóa đơn</h2>
  </div>
  <!-- End Title -->

  <!-- Product Content -->
  <div class = "border-bottom pb-4 mb-4">
    <div class = "media">
      <div class = "avatar avatar-lg mr-3">
        <img class = "avatar-img"
             src = "../assets/assets/img/320x320/img2.jpg"
             alt = "Image Description">
        <sup class = "avatar-status avatar-primary">1</sup>
      </div>
      <div class = "media-body">
        <h2 class = "h6">Originals national backpack</h2>
        <div class = "text-body font-size-1">
          <span>Gender:</span>
          <span>Men</span>
        </div>
        <div class = "text-body font-size-1">
          <span>Color:</span>
          <span>Grey</span>
        </div>
        <div class = "text-body font-size-1">
          <span>Size:</span>
          <span>One size</span>
        </div>
      </div>
    </div>
  </div>
  <!-- End Product Content -->

  <!-- Product Content -->
  <div class = "border-bottom pb-4 mb-4">
    <div class = "media">
      <div class = "avatar avatar-lg mr-3">
        <img class = "avatar-img"
             src = "../assets/assets/img/320x320/img3.jpg"
             alt = "Image Description">
        <sup class = "avatar-status avatar-primary">1</sup>
      </div>
      <div class = "media-body">
        <h2 class = "h6">Vans large image t-shirt</h2>
        <div class = "text-body font-size-1">
          <span>Gender:</span>
          <span>Women</span>
        </div>
        <div class = "text-body font-size-1">
          <span>Color:</span>
          <span>Core Black / Carbon</span>
        </div>
        <div class = "text-body font-size-1">
          <span>Size:</span>
          <span>SM</span>
        </div>
      </div>
    </div>
  </div>
  <!-- End Product Content -->

  <!-- Fees -->
  <div class = "border-bottom pb-4 mb-4">
    <div class = "media align-items-center mb-3">
      <span class = "d-block font-size-1 mr-3">Tổng số lượng (2)</span>
      <div class = "media-body text-right">
        <span class = "text-dark font-weight-bold">$73.98</span>
      </div>
    </div>

    <div class = "media align-items-center mb-3">
      <span class = "d-block font-size-1 mr-3">Vận chuyển</span>
      <div class = "media-body text-right">
        <span class = "text-dark font-weight-bold">Free</span>
      </div>
    </div>

    <!-- Checkbox -->
    <div class = "card shadow-none mb-3">
      <div class = "card-body p-0">
        <div class = "custom-control custom-radio d-flex align-items-center small">
          <input type = "radio"
                 class = "custom-control-input"
                 id = "deliveryRadio1"
                 name = "deliveryRadio"
                 checked>
          <label class = "custom-control-label ml-1"
                 for = "deliveryRadio1">
            <span class = "d-block font-size-1 font-weight-bold mb-1">Miễn phí - Giao hàng tiêu chuẩn</span>
            <span class = "d-block text-muted">Nhận hàng sau 5 - 6 ngày.</span>
          </label>
        </div>
      </div>
    </div>
    <!-- End Checkbox -->

    <!-- Checkbox -->
    <div class = "card shadow-none mb-3">
      <div class = "card-body p-0">
        <div class = "custom-control custom-radio d-flex align-items-center small">
          <input type = "radio"
                 class = "custom-control-input"
                 id = "deliveryRadio2"
                 name = "deliveryRadio">
          <label class = "custom-control-label ml-1"
                 for = "deliveryRadio2">
            <span class = "d-block font-size-1 font-weight-bold mb-1">30.000đ - Giao hàng nhanh</span>
            <span class = "d-block text-muted">Nhận hàng sau 2 - 3 ngày.</span>
          </label>
        </div>
      </div>
    </div>
    <!-- End Checkbox -->

    <div class = "media align-items-center">
      <span class = "d-block font-size-1 mr-3">Thuế GTGT</span>
      <div class = "media-body text-right">
        <span class = "text-dark font-weight-bold">--</span>
      </div>
    </div>
  </div>
  <!-- End Fees -->

  <!-- Total -->
  <div class = "media align-items-center">
    <span class = "d-block font-size-1 mr-3">Thành tiền</span>
    <div class = "media-body text-right">
      <span class = "text-dark font-weight-bold">$73.98</span>
    </div>
  </div>
  <!-- End Total -->
</div>
