<!-- ========== MAIN CONTENT ========== -->
<main id = "content"
      role = "main">
  <!-- Title Section -->
  <app-title-section></app-title-section>
  <!-- End Title Section -->

  <!-- Products & Filters Section -->
  <div class = "container space-top-1 space-top-md-2 space-bottom-2 space-bottom-lg-3">
    <div class = "row">
      <div class = "col-lg-9">
        <!-- Sorting -->
        <app-sorting></app-sorting>
        <!-- End Sorting -->

        <!-- Products -->
        <app-product-list></app-product-list>
        <!-- End Products -->

        <!-- Pagination -->
        <app-pagination></app-pagination>
        <!-- End Pagination -->

        <!-- Divider -->
        <div class = "d-lg-none">
          <hr class = "my-7 my-sm-11">
        </div>
        <!-- End Divider -->
      </div>

      <!-- Filters -->
      <app-filters></app-filters>
      <!-- End Filters -->
    </div>
  </div>
  <!-- End Products & Filters Section -->

  <!-- Subscribe Section -->

  <!-- End Subscribe Section -->

  <!-- Clients Section -->

  <!-- End Clients Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
