<div class = "container space-2">
  <div class = "row justify-content-between text-center">
    <div class = "col-4 col-lg-2 mb-5 mb-lg-0">
      <div class = "mx-3">
        <img class = "max-w-11rem max-w-md-13rem mx-auto"
             src = "../assets/assets/svg/clients-logo/hollister.svg"
             alt = "Image Description">
      </div>
    </div>
    <div class = "col-4 col-lg-2 mb-5 mb-lg-0">
      <div class = "mx-3">
        <img class = "max-w-11rem max-w-md-13rem mx-auto"
             src = "../assets/assets/svg/clients-logo/levis.svg"
             alt = "Image Description">
      </div>
    </div>
    <div class = "col-4 col-lg-2 mb-5 mb-lg-0">
      <div class = "mx-3">
        <img class = "max-w-11rem max-w-md-13rem mx-auto"
             src = "../assets/assets/svg/clients-logo/new-balance.svg"
             alt = "Image Description">
      </div>
    </div>
    <div class = "col-4 col-lg-2">
      <div class = "mx-3">
        <img class = "max-w-11rem max-w-md-13rem mx-auto"
             src = "../assets/assets/svg/clients-logo/puma.svg"
             alt = "Image Description">
      </div>
    </div>
    <div class = "col-4 col-lg-2">
      <div class = "mx-3">
        <img class = "max-w-11rem max-w-md-13rem mx-auto"
             src = "../assets/assets/svg/clients-logo/nike.svg"
             alt = "Image Description">
      </div>
    </div>
    <div class = "col-4 col-lg-2">
      <div class = "mx-3">
        <img class = "max-w-11rem max-w-md-13rem mx-auto"
             src = "../assets/assets/svg/clients-logo/tnf.svg"
             alt = "Image Description">
      </div>
    </div>
  </div>
</div>
